* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
    height: 55vh;
}

.leftsection {
    font-size: 3rem;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(170, 107, 228);
}

#element {
    color: rgb(170, 107, 228);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr {
    height: 1.2px;
    margin: 40px 84px;
}

section h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
}

.secondSection .vertical {
    height: 340px;
    width: 1px;
    background-color: white;
}

.expList {
    margin: 0 0 0 90px;
    font-size: 18px;
}

.text {
    font-size: 20px;
}